<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
</style>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }

    .text-white{
        margin-left: 20px;
    }
  </style>

  
  <!-- Custom styles for this template -->
  <link href="cover.css" rel="stylesheet">
</head>
<body class="d-flex h-100 text-center text-white" style="background-color: #117a8b;">
  
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<header class="mb-auto">
  <div>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="text-white" aria-current="page" href="/">Home</a>
      <a class="text-white" href="/login">Login</a>
      <a class="text-white" href="/logout">Close</a>
    </nav>
  </div>
</header>

<main class="px-3">
    <p></p>
  <h1>Marlon Falcon Hdez.</h1>
  <p></p>
  <p class="lead">Demo login NodeJS</p>
</main>

<footer class="mt-auto text-white-50">
  <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://marlonfalcon.com" class="text-white">marlon</a>.</p>
</footer>
</div>


  
</body>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</html>